@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  background-color: #050816;
  color: #fff;
}

.flex {
  display: flex;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
}

.navbar {
  background-color: #050816;
  border-bottom: solid 2px #392793;
}

.filter {
  background-color: #0c132f;
  border-bottom: solid 1px #423c5f;
  justify-content: space-between;
}
