@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  background-color: #050816;
  color: #fff;
}

.flex {
  display: flex;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
}

.navbar {
  background-color: #050816;
  border-bottom: solid 2px #392793;
}

.filter {
  background-color: #0c132f;
  border-bottom: solid 1px #423c5f;
  justify-content: space-between;
}

.filter__checkbox {
  cursor: pointer;
}

.repository-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.repository {
  display: flex;
  background-color: #1d1836;
  margin: 0.5rem 0;
  box-shadow: 0 1px 0 #333030;
  flex-direction: column;
  gap: 15px;
  padding: 1rem;
}

.repository__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.repository__header__name {
  font-size: 1rem;
  font-weight: 500;
}

.repository__header__star {
  cursor: pointer;
}

.repository__footer {
  display: flex;
  justify-content: space-between;
}

.repository__footer__language-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.repository__footer__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #607ceb;
  gap: 5px;
}

.repository__footer__link:a {
  padding-left: 10px;
}

.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #392793;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 2s linear infinite;
  align-self: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  color: red;
}
